In [ ]:
import pandas as pd

In [ ]:
notasemillero=pd.DataFrame({'Nombres':['pedro','leidy','juan','sofia','camila','cristian','photer','julian','miguel','carlos'],
                            'semestre':[10,9,7,5,6,3,2,9,6,7],
                            'edad':[6,7,8,9,7,4,6,7,4,6]})
print(notasemillero)

    Nombres  semestre  edad
0     pedro        10     6
1     leidy         9     7
2      juan         7     8
3     sofia         5     9
4    camila         6     7
5  cristian         3     4
6    photer         2     6
7    julian         9     7
8    miguel         6     4
9    carlos         7     6

In [ ]:
notasemillero['Nota 2']=[3.1,4.3,5,2.9,5,3.1,4,5,2.9,2.1]
notasemillero

    Nombres  semestre  edad  Nota 2
0     pedro        10     6     3.1
1     leidy         9     7     4.3
2      juan         7     8     5.0
3     sofia         5     9     2.9
4    camila         6     7     5.0
5  cristian         3     4     3.1
6    photer         2     6     4.0
7    julian         9     7     5.0
8    miguel         6     4     2.9
9    carlos         7     6     2.1

In [ ]:
notasemillero['Nota 1']=3
notasemillero

    Nombres  semestre  edad  Nota 2  Nota 1
0     pedro        10     6     3.1       3
1     leidy         9     7     4.3       3
2      juan         7     8     5.0       3
3     sofia         5     9     2.9       3
4    camila         6     7     5.0       3
5  cristian         3     4     3.1       3
6    photer         2     6     4.0       3
7    julian         9     7     5.0       3
8    miguel         6     4     2.9       3
9    carlos         7     6     2.1       3

In [ ]:
notasemillero['ciudad']='Manizales','Neira','Aranzazu','Bogota','cali','medellin','amazonas','aguadas','filadelfia','popayan'
notasemillero

,Nombres,semestre,edad,Nota 2,Nota 1,nota 3,ciudad,"Departamentos, capitales",Departamentos y Capitales,Departamentos_Capitales
0,pedro,10,6,3.1,3,Manizales,Manizales,caldas,caldas,caldas
1,leidy,9,7,4.3,3,Neira,Neira,caldas,caldas,caldas
2,juan,7,8,5.0,3,Aranzazu,Aranzazu,caldas,caldas,caldas
3,sofia,5,9,2.9,3,Bogota,Bogota,cundinamarca,cundinamarca,cundinamarca
4,camila,6,7,5.0,3,cali,cali,valle del cauca,valle del cauca,valle del cauca
5,cristian,3,4,3.1,3,medellin,medellin,antioquia,antioquia,antioquia
6,photer,2,6,4.0,3,amazonas,amazonas,leticia,leticia,leticia
7,julian,9,7,5.0,3,aguadas,aguadas,caldas,caldas,caldas
8,miguel,6,4,2.9,3,filadelfia,filadelfia,caldas,caldas,caldas
9,carlos,7,6,2.1,3,popayan,popayan,mocoa,mocoa,mocoa

In [ ]:
notasemillero['Departamentos,Capitales']='caldas','caldas','caldas','cundinamarca','valle del cauca','antioquia','leticia','caldas','caldas','mocoa'
notasemillero

,Nombres,semestre,edad,Nota 2,Nota 1,nota 3,ciudad,"Departamentos, capitales",Departamentos y Capitales,Departamentos_Capitales,"Departamentos,Capitales"
0,pedro,10,6,3.1,3,Manizales,Manizales,caldas,caldas,caldas,caldas
1,leidy,9,7,4.3,3,Neira,Neira,caldas,caldas,caldas,caldas
2,juan,7,8,5.0,3,Aranzazu,Aranzazu,caldas,caldas,caldas,caldas
3,sofia,5,9,2.9,3,Bogota,Bogota,cundinamarca,cundinamarca,cundinamarca,cundinamarca
4,camila,6,7,5.0,3,cali,cali,valle del cauca,valle del cauca,valle del cauca,valle del cauca
5,cristian,3,4,3.1,3,medellin,medellin,antioquia,antioquia,antioquia,antioquia
6,photer,2,6,4.0,3,amazonas,amazonas,leticia,leticia,leticia,leticia
7,julian,9,7,5.0,3,aguadas,aguadas,caldas,caldas,caldas,caldas
8,miguel,6,4,2.9,3,filadelfia,filadelfia,caldas,caldas,caldas,caldas
9,carlos,7,6,2.1,3,popayan,popayan,mocoa,mocoa,mocoa,mocoa